.btn-menu {
  padding: 5px 25px;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 7px;
  box-shadow: 0 1px 1px rgba(50,50,50,0.25);
  color: #8AA8BD;
  font-weight: bold;
  cursor: pointer;
}

.btn-menu:hover, .btn-menu:focus {
  box-shadow: 0 1px 1px rgba(50,50,50,0.75);
}

.disabled .btn-menu {
  color: #5B6A7D;
  box-shadow: none;
}

.disabled .btn-menu:hover, .disabled .btn-menu:focus {
  box-shadow: none;
}

